<%- include('../partials/header') -%>

<div class="container">
    <h1><%= event.title %></h1>

    <img src="<%= event.image %>" alt="<%= event.title %>"/>

    <p><%= event.description %></p>
    
</div>

<%- include('../partials/footer') -%>