<%- include('../partials/header') -%>

<div class="container">
    <h1 class="lead display-4 mb-5"><%= title %></h1>

    <% if(events.length == 0) { %>
        <p class="lead">Currently, No <%= title %> :( <br> Come back later...</p>
    <% } %>

    <% events.forEach(event => { %>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%= event.image %>" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <h6 class="card-text">
                <% if (event.type) { %>
                    Technical Event
                <% } else { %>
                    Non-Technical Event
                <% } %>
            </h6>
            <p class="card-text"><%= event.description.substring(0, 100) %></p>
            <a href="/events/<%= event.id %>" class="btn btn-primary">View Event</a>
            </div>
        </div>

    <% }) %>
</div>

<%- include('../partials/footer') -%>