<%- include('../partials/header', { pageTitle: "VIVA VVIT - My Events", user: user}) -%>

<div class="container">
    <h1 class="lead display-4 mb-5 mt-5"><%= title %></h1>

    <% if(events.length == 0) { %>
        <p class="lead">You're not registered for any events :( 
            <br>
            Register for any event, they will appear here...
            <br>
            <a href="/events">view events</a>
        </p>
    <% } %>

    <div class="row">
        <% events.forEach(event => { %>
            <div class="col-md-4 col-sm-12">
                <div class="card m-1">
                    <img class="card-img-top" src="<%= event.image %>" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title"><%= event.title %></h5>
                    <h6 class="card-text">
                        <% if (event.type) { %>
                            Technical Event
                        <% } else { %>
                            Non-Technical Event
                        <% } %>
                    </h6>
                    <p class="card-text"><%= event.description.substring(0, 100) %></p>
                    <a href="/events/id/<%= event.id %>" class="btn btn-primary">View Event</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') -%>